.booking-form {
  width: 1280px;
  height: 890px;
  margin: 0 auto;
  //background-color: chocolate;
}

.form {
  //background-color: lightgreen;
  width: 890px;
  height: 200px;
  margin: 20px auto;
}

.largeTEXTbooking {
  justify-content: left;
  display: flex;
  color: black;
  font-family: Thin;
  font-size: 60px;
  font-weight: bold;
}

.info-row {
  //background-color: lightgrey;
  width: auto;
  justify-content: stretch;
  display: flex;
  margin-bottom: 20px;
  //padding-left: 90px;
}

.info {
  //background-color: lime;
  width: 344px;
  height: 58px;
  font-family: Gill;
  font-size: 22px;
  font-weight: bold;
  padding-left: 20px;
  padding-top: 20px;
  border: $site-blue solid 1px;
}

.infoLONG {
  //background-color: lime;
  width: 536px;
  height: 58px;
  font-family: Gill;
  font-size: 22px;
  font-weight: bold;
  border: $site-blue solid 1px;
  padding-left: 20px;
  padding-top: 20px;
  margin-left: 20px;
  margin-left: 20px;
}

.info-noborder {
  //background-color: lime;
  width: 140px;
  height: 58px;
  font-family: Gill;
  font-size: 22px;
  font-weight: bold;
  padding-top: 20px;
  text-align: left;
  //border: $site-blue solid 1px;
}

.infoDATE {
  //background-color: lime;
  width: 730px;
  height: 58px;
  font-family: Gill;
  font-size: 22px;
  font-weight: bold;
  border: $site-blue solid 1px;
  padding-left: 20px;
  padding-top: 20px;
  margin-left: 20px;
  margin-left: 20px;
}

.info-combo {
  display: flex;
  justify-content: space-between;
}

.info-number {
  width: 90px;
  height: 58px;
  font-family: Gill;
  font-size: 22px;
  font-weight: bold;
  padding-left: 10px;
  padding-top: 18px;
  border: $site-blue solid 1px;
  margin-left: 20px;
}

.info-row2 {
  //background-color: lightgrey;
  width: auto;
  justify-content: space-between;
  display: flex;
  margin-bottom: 20px;
  //padding-left: 90px;
}

.message {
  width: auto;
  height: 192px;
  border: $site-blue solid 1px;
  font-family: Gill;
  font-size: 22px;
  font-weight: bold;
  padding-left: 20px;
  padding-top: 20px;
}

.submit {
  width: auto;
  height: 60.59px;
  background-color: $site-blue;
  margin-top: 40px;
  text-align: center;
  padding-top: 22px;
  font-family: Gill;
  font-size: 22px;
  font-weight: bold;
  color: $white;
}

footer {
  justify-content: space-evenly;
  display: flex;
  padding-top: 40px;
  font-family: Gill;
  font-size: 18px;
  font-weight: bold;
  color: $white;
}
